@tailwind base;
@tailwind components;
@tailwind utilities;

// CSS Reset
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	font-family: 'DM Sans', sans-serif;
	color: #191a19;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
textarea,
button,
textarea,
select {
	font: inherit;
	border: none;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

html {
	background-image:
		linear-gradient(#f9a43d 1px, transparent 1px),
		linear-gradient(to right, #f9a43d 1px, #fec659 1px);
	background-size: 48px 48px;
}
